<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<a href="/admin" class="btn btn-secondary">Admin page</a>
<a href="/auth/logout" class="btn btn-secondary">Logout</a>
